/* Kommentar */
@keyframes flyToBin {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-1500px, -300px);
    opacity: 0;
  }
}

.animation-bin {
  position: relative; /* Notwendig für left/right/top/bottom Positionierung */
  animation-name: flyToBin;
  animation-duration: 0.5s; /* Dauer der Animation */
  animation-timing-function: ease-in-out; /* Timing-Funktion für weiche Bewegung */
  animation-fill-mode: forwards;
  will-change: transform, opacity;
  z-index: 999;
}

@keyframes resize {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.animation-recover {
  position: relative; /* Notwendig für left/right/top/bottom Positionierung */
  animation-name: resize;
  animation-duration: 0.5s; /* Dauer der Animation */
  animation-timing-function: ease-in-out; /* Timing-Funktion für weiche Bewegung */
  animation-fill-mode: forwards;
}
